body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
}
.user-container {
    margin-top: 50px;
}
button {
    padding: 10px;
    margin: 10px;
    background-color: royalblue;
    border: none;
    cursor: pointer;
}
